@page "/"
@inject NavigationManager Nav

<PageTitle>GPU Mon Log Parser</PageTitle>

<p>Redirecting to GPU Mon Log Parser...</p>

@code {
    protected override void OnInitialized()
    {
        Nav.NavigateTo("/productDev/Tools/gpuMonLogParser", true);
    }
}
